/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Redacted+Script&display=swap');

@import 'tailwindcss';
@import 'tw-golden-spacing';


@plugin "tailwindcss-motion";
@plugin 'daisyui' {
	themes:
		fantasy --default,
		my-dark --prefersdark;
}
@plugin '@tailwindcss/typography';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/aspect-ratio'; */
@plugin 'tailwind-scrollbar';

@plugin "daisyui/theme" {
	name: 'fantasy';
	default: true;
	--color-primary: oklch(27% 0.46 203);
	--color-primary-content: oklch(97% 0.014 254);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-primary: oklch(27% 0.46 200);
	--color-primary-content: oklch(97% 0.014 254);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@theme {
	--font-display: 'Jost',  'sans-serif';
	--font-redacted: 'Redacted Script', cursive;
	--breakpoint-2xl: 100rem;
	--breakpoint-3xl: 120rem;
	--breakpoint-4xl: 160rem;
	--breakpoint-5xl: 240rem;
}


@layer base {
	/* html {
		@apply 3xl:text-lg 4xl:text-2xl 5xl:text-4xl 2xl:text-lg;
	} */

	body {
		@apply overflow-hidden;
	}
}

/* * {
	border: 1px solid black;
} */


input,
label,
textarea,
select {
	@apply scrollbar-thin outline-none;
}
